body{

background-image: url(robo.jpg);


}


h1{

text-align: center;
text-decoration: underline;
color: white;


}

a  {

color: red;
font-size: 29px;

}


h2 {

color: white;

}

p {

color: white;
font-size: 30px;

}
